.modal-dialog {
    width: 100%;
    height: 100%;
    
    padding: 0;
  }
  
  .modal-content {
    height: auto;   
    border-radius: 0;
  }

#txtCliente{
    margin-bottom: 20px;
    margin-top: 10px;
}

#txtTitulo{
    margin-bottom: 20px;
    margin-top: 10px;
}

#txtdescricao{
    margin-bottom: 20px;
    margin-top: 10px;
    height: 180px;
}

#txtdata{
    margin-bottom: 20px;
    margin-top: 10px;
}